:root {
  --primary: #FDFFFC;
  --secondary: #2e282a;
  --lookAtMe: #D62246;
}

body {
  background-color: var(--primary);
}
.accent {
  color: var(--secondary);
}

.b-color {
  border-color: var(--lookAtMe);
}
a {
  color: var(--lookAtMe) !important;
}